@charset "UTF-8";
body {
    font-family: "Noto Sans KR", sans-serif;
}


/* Hero */

.hero {

    background:
    linear-gradient(
        rgba(0,0,0,.45),
        rgba(0,0,0,.45)
    ),
    url("../images/seoul1.jpg");

    background-size:cover;
    background-position:center;

    color:white;

    padding:120px 0;

}



.search-box {

    display:flex;
    max-width:600px;
    margin:30px auto 0;

}


.search-box input {

    border-radius:30px 0 0 30px;

}


.search-box button {

    border-radius:0 30px 30px 0;

}




.category {

    border:1px solid #ddd;

    padding:25px 10px;

    border-radius:10px;

    background:white;

    transition:.3s;

}


.category:hover {

    background:#007bff;

    color:white;

    cursor:pointer;

}



.card img {

    height:220px;

    object-fit:cover;

}



footer {

    margin-top:50px;

}